.fields {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    flex-wrap: wrap;
    overflow: hidden;
}

.topLine {
    position: absolute;
    width: 290px;
    height: 5px;
    background-color: #fff;
    border-radius: 10px;
    top: 48px;
    left: -293px;
    transition: 1s;
}

.centerLine {
    position: absolute;
    width: 290px;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;
    top: 149px;
    left: -293px;
    transition: 1s;
}

.bottomLine {
    position: absolute;
    width: 290px;
    height: 7px;
    background-color: #fff;
    border-radius: 10px;
    top: 251px;
    left: -293px;
    transition: 1s;
}

.leftLine {
    position: absolute;
    width: 7px;
    height: 290px;
    background-color: #fff;
    border-radius: 10px;
    top: -293px;
    left: 47px;
    transition: 1s;
}

.centerLineH {
    position: absolute;
    width: 7px;
    height: 290px;
    background-color: #fff;
    border-radius: 10px;
    top: -293px;
    left: 149px;
    transition: 1s;
}

.rightLine {
    position: absolute;
    width: 7px;
    height: 290px;
    background-color: #fff;
    border-radius: 10px;
    top: -293px;
    left: 247px;
    transition: 1s;
}

.leftR {
    position: absolute;
    width: 7px;
    height: 382px;
    background-color: #fff;
    border-radius: 10px;
    top: -333px;
    left: -144px;
    transform: rotate(-45deg);
    transition: 1s;
}

.rightR {
    position: absolute;
    width: 7px;
    height: 382px;
    background-color: #fff;
    border-radius: 10px;
    top: -331px;
    left: 441px;
    transform: rotate(45deg);
    transition: 1s;
}

.topH .topLine {
    left: 5px;
}

.centerH .centerLine {
    left: 5px;
}

.bottomH .bottomLine {
    left: 5px;
}

.leftV .leftLine {
    top: 5px;
}

.centerV .centerLineH {
    top: 5px;
}

.rightV .rightLine {
    top: 5px;
}

.leftRR .leftR {
    top: -42px;
    left: 147px;
}

.rightRR .rightR {
    top: -41px;
    left: 147px;
}

.field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
}

.field span {
    color: #fff;
    font-size: 32px;
}
.figureWrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.k {
    width: 7px;
    height: 65px;
    border-radius: 10px;
    background-color: #fff;
}
.k,
.c1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: 0.5s;
}

.k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
}

.k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
}

.tic-enter .k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
}
.tic-enter-active .k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
}
.tic-exit .k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
}
.tic-exit-active .k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(0);
}

.tic-enter .k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}
.tic-enter-active .k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}
.tic-exit .k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}
.tic-exit-active .k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(0);
}

.tic-done-enter .k {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transition: 0.5s;
    width: 7px;
    height: 65px;
    border-radius: 10px;
    background-color: #fff;
}
.tic-done-enter .k1 {
    transform: translate(-50%, -50%) rotate(-45deg) scaleY(1);
}
.tic-done-enter .k2 {
    transform: translate(-50%, -50%) rotate(45deg) scaleY(1);
}

.c1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px solid white;
    transform: translate(-50%, -50%) scale(0);
}

.circle-enter .c1 {
    transform: translate(-50%, -50%) scale(0);
}
.circle-enter-active .c1 {
    transform: translate(-50%, -50%) scale(1);
}
.circle-exit .c1 {
    transform: translate(-50%, -50%) scale(1);
}
.circle-exit-active .c1 {
    transform: translate(-50%, -50%) scale(0);
}

.circle-done-enter .c1 {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 7px solid white;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
}

.blockContent {
    pointer-events: none;
    cursor: none;
}
